.button button {
    color: #E0E1DD;
    background-color: #212D40;
    border: unset;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    min-width: 3.5rem;
    width: 22.5rem;
    box-sizing: border-box;
    padding: 1px 6px;
    font-size: 2rem;
    font-family: "M PLUS Rounded 1c";
    box-shadow: 3px 6px #03101fb7;

}
.button {
    width: 100%;
}