.main h1 {
    font-family: "M PLUS Rounded 1c";
    color: #E0E1DD;
    font-size:  4vw;
}

.main .logo {
    padding: 1vh 0;
}

.main .menue {
    height: 65%;
    margin: 0vh 10vw;
    border-width:2px;
    border-style:solid;
    border-color:#ffffff15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.background .main Button {
    width: 99%;
    margin-bottom: 1vh;
}

.main .map {
    width: 99%;
    height: 100%;
    margin: 2%;
}

.main #logo {
    width: 8vw;
}