.main h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size:  calc(4vw + 4vh);
}

.main h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #646464;
    font-size:  calc(1vw + 0.8vh);
}

.main .menue {
    height: 65%;
    margin: 1vh 10vw;
    border-width:2px;
    border-style:solid;
    border-color:#ffffff15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    
  
  }

.background .main Button {
    width: calc(99% * 0.3);
    margin-bottom: 1%;
    Display: inline-block;
}

.main .map {
    width: 97%;
    height: 100%;
    margin: 1.5% 3%;
    z-index: 0;
}

#select-bounds {
    border-radius: 2vh;
    z-index: 0;
}

