.navbar {
    height: 5vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    margin: 1vh 0;
    min-height: 25px;
}

.navbar ul {
    height: 100%;
    list-style-type: none;
    overflow:hidden;
}

.navbar #logo {
height: 100%;
scale: 75%;
float: left;
}

.navbar a {
    color: #E0E1DD;
    text-decoration:none;
    text-align: center;
    display: block;
    margin: 1.5vh 0;
}

.navbar li {
    text-align: center;
    float: right;
    height: 100%;
    margin: 0 5%;
    
}



