.main .play {
    height: 75vh;
    margin: 1vh 10vw;
    border-width:2px;
    border-style:solid;
    border-color:#ffffff15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
}

.image-holder {
    margin: 1.5% 0 -1.2% 0;
    width: 97%;
    height: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-holder-result {
    margin: 1.5% 0 -1.2% 0;
    width: 97%;
    height: 0%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: height 1s;
}

.play .play-text  {
    display: flex;
}

.play .play-text h2 {
    margin: 0 2%;
}

.main .play img {
    object-fit: cover;
    object-position: center center;
    width: 50%;
    height: 100%;
}

.main .play .map {
    height: 100%;
}

.main .play .result {
    height: 100%;
    transition: height 0.5s ease-in-out;
}

#map {
    border-radius: 0 0 2vh 2vh;
    z-index: 0;
}

.main .play .result > #map{
    border-radius:2vh;
    z-index: 0;
    transition: border-radius 1s ease-in-out;
}

@media (orientation:portrait) {
    .image-holder{
        flex-direction: column;
    }
    .image-holder-result{
        flex-direction: column;
    }

    .main .play img {
        width: 100%;
        height: 50%;
    
    }
}